In [1]:
my_list = [1,2,3]

In [3]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [6]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [8]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [12]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [13]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [16]:
my_list1 = [1,2,3]
my_list2 = ['a','b','c']
my_list3 = [100,200,300]

In [17]:
for item in zip(my_list1,my_list2,my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [19]:
my_list1 = [1,2,3,4,5,6]
my_list2 = ['a','b','c']
my_list3 = [100,200,300]

In [20]:
for item in zip(my_list1,my_list2,my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [22]:
list(zip(my_list1,my_list2,my_list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [23]:
'x' in [1,2,3]

False

In [24]:
'x' in ['x','y','z']

True

In [25]:
'a' in 'apple'

True

In [26]:
'mykey' in {'mykey':234}

True

In [27]:
d = {'mykey':234}

234 in d.values()

True

In [28]:
my_list = [10,20,30,100]

In [29]:
min(my_list)

10

In [31]:
max(my_list)

100

In [32]:
from random import shuffle

In [33]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [34]:
shuffle(my_list)

In [35]:
my_list

[3, 2, 1, 5, 4, 10, 6, 7, 9, 8]

In [37]:
sorted(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
from random import randint

In [39]:
randint(1,100)

42

In [41]:
randint(1,100)

5

In [42]:
my_num =randint(1,100)

In [48]:
my_num

6

In [52]:
input('write a number here:')

write a number here:69

'69'

In [54]:
name = input('write your name here:')

write your name here:hamza

In [55]:
name

'hamza'

In [56]:
 num = input('write a number here:')

write a number here:30

In [58]:
type(num)

str

In [59]:
float(num)

30.0

In [60]:
type(num)

str

In [63]:
num = float(input('write a number here:'))

write a number here:34

In [64]:
type(num)

float